.content {
    display: grid;
    grid-template-columns: 120px 234px 1fr;
    grid-template-areas: ". leftbar content_entity";
    min-width: 900px;
    max-width: 1440px;
}

.leftbar {
    background-color: #E5E4E5;
    grid-area: leftbar;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.leftbar .leftbar__item {
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}

.content-entity {
    grid-area: content_entity;
    display: grid;
    grid-template-rows: 80px 1fr;
    margin-left: 30px;
    margin-top: 20px;
}

.posts__content {}

.link-path > a::before {
    content: '›';

}