.footer {
    display: grid;
    grid-template-columns: 120px 1fr 120px;
    grid-template-areas: ". footer_text  .";
}

.footer-text-block {
    display: flex;
    align-items: center;
    grid-area: footer_text;
}

.footer-text-block__text {
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}