html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Roboto;
}

.main-container {
  display: grid;
  height: 100vh;
  grid-template-rows: 66px 1fr 50px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: green;
}