.menu {
    background-color: #07569A;
    display: grid;
    grid-template-columns: 120px 234px 1fr 280px;
    grid-template-areas: ". logo_area  . cart_area";
}

.menu .logo-area {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: white solid 1px;
    border-left: white solid 1px;
    grid-area: logo_area;
}

.menu .cart-area {
    grid-area: cart_area;
    display: flex;
    align-items: center;
    border-left: 1px solid rgba(255, 255, 255, 0.6);
    padding-left: 20px;
}

.cart__text {
    color: white;
    font-style: normal;
}

.cart__text .cost {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
}

.cart__text .quantity-of-goods {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}

.menu .logo {
    background-image: url(../images/logo.png);
    width: 130px;
    height: 46px;
}

.menu .cart__logo {
    display: inline-block;
    background-image: url(../images/cart.svg);
    width: 34px;
    height: 34px;
}